VUE_APP_API_URL=https://kamata-portfolio.mydns.jp/extApi
VUE_APP_API_KEY=
VUE_APP_AUTH_DOMAIN=plan-memo-firebase.firebaseapp.com
VUE_APP_PROJECT_ID=plan-memo-firebase
VUE_APP_STORAGE_BUCKET=plan-memo-firebase.firebasestorage.app
VUE_APP_MESSAGING_SENDER_ID=
VUE_APP_APP_ID=
VUE_APP_FIRBASE_DATABASE_URL=